.report-info_ {
  box-shadow: inset;
  text-align: center;
  font-weight: bold;
  font-optical-sizing: auto;
  width: 500px;
  height: 250px;
  background-color: rgb(87, 11, 158);
}

div {
  justify-self: center;
}
