.home-screen {
  height: 100%;
  width: 100%;
}

.greeting-pic-box {
  background-origin: padding-box;
  position: center;
}

.__logo {
  background-color: rgb(238, 188, 205);
  margin: auto;
  margin-bottom: 15px;
  width: 500px;
  height: 500px;
  object-fit:none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: -2;
}
