.login-info_ {
  text-align: center;
  font-weight: bold;
  font-optical-sizing: auto;
  width: 80%;
  height: flex 360px;
  margin: auto;
  background-color: #907fa4;
  color: white;
  justify-items: auto;
}

label {
  display: grid;
  justify-content: center;
}

::placeholder {
  color: black;
  opacity: 5;
}
