.login-info_ {
  text-align: center;
  font-weight: bold;
  font-optical-sizing: auto;
  width: 80%;
  margin: auto;
  height: 360px;
  background-color: black;
  color: white;
  justify-items: auto;
}

::placeholder {
  color: black;
  opacity: 5;
}
