#map-container {
  height: 500px;
  width: 100%;
  position: center;
  display: block;
  box-shadow: 2px;
}

#report-form-container {
  height: 500px;
  width: 300%;
  position: bottom, center;
  display: block;
  box-shadow: 2px;
}
