.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 70%;
  max-width: 400px;
  background: rgb(247, 245, 245);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
