.report-list {
  text-align: center;
  border-style: outset;
  border-width: 2px;
  margin: 1rem auto;
  height: fit-content;
  background-color: #c07dc2;
  position: relative;
  box-sizing: content-box;
  margin-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
}
