.report-item__ {
  margin: 1rem 0;
  display: grid;
  border-style: solid;
  border-width: thin;
  box-shadow: 5px 5px 5px 0px #0e0d0e;
  text-align: center;
  font-weight: 500;
  background-color: #96ded1;
}

.report-item__content-map {
  width: 100%;
  height: 180px;
}

.report-item__ :hover,
.report-item__ :active {
  background-color: #fdf1b1;
  color: black;
}

.report-item__content {
  padding: 0;
}

.report-item__info {
  padding: 1rem;
  text-align: center;
}

.report-item__image {
  width: 100%;
  height: 12.5rem;
  margin: 1rem;
}

.report-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.report-item__info h2,
.report-item__info h3,
.report-item__info p {
  margin: 0 0 0.5rem 0;
}

.report-item__actions {
  text-align: center;
  border-top: 1px solid #ccc;
}

.report-item__modal-content {
  padding: 0;
}

.report-item__modal-actions {
  text-align: right;
  margin: 0 0 0.5rem 0;
}

.report-item__actions button,
.report-item__actions a {
  margin-right: 2.0rem;
}

@media (min-width: 768px) {
  .report-item__image {
    height: 20rem;
  }
}
