.report-form {
  font-weight: bold;
  font-optical-sizing: auto;
  width: 400px;
  height: inherit;
  margin: auto;
  margin-right: 1.0rem;
  background-color: #907fa4;
  color: white;
  text-emphasis-color: #f8df00;
  display: grid;
  position: static;
}

.report-form form {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
}

#title, #reportText, #address {
  width: 200px;
  border-style: inset;
  border-color: black;
  margin-bottom: 0.5rem;
}
